# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
.env

# Ignore log files
*.log

# Ignore the Dockerfile itself (if you don't want it included in the build context)
Dockerfile*

# Ignore any other unnecessary files
*.git*
*.DS_Store
